<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fitness Trainers Network : Find a Fitness Trainer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Fitness Trainers network is a network of professional and certified fitness trainers all around North America and ready to get you back in shape. If you are suffering from obesity, injuries, dietary issues, and any other ailments, our trainers are here to help. We are focused on your well being and our goals is to focus on making you healthy. You can hire any of our trainers located close to your zip code and schedule an assessment to determine the best course of action for your fitness routine. The first step always starts with you, so get it done."
    />
    <meta name="keywords" content="Fitness, USA, Canada, Training, Gym, Trainer, Cycle, Yoga, Yoga Programs, Programs, Body Building, Dr Dan, Body, Building, Boxing Fitness, Boxing, Fitness, Personal Trainer, moving, accredited moving,
	 fitness, business consulting, leverage acquisition, government contracting, publishing, dating, coaching, accredited relocation businesses for USA and Canada" />
    <meta name="author" content="http://arijitdhar.com" />
    <meta name="publisher" content="http://www.fitnesstrainersnetwork.com/" />
    <meta name="copyright" content="http://www.fitnesstrainersnetwork.com/" />
    <meta name="rating" content="General" />
    <meta http-equiv="Reply-to" content="info@fitnesstrainersnetwork.com" />
    <meta name="creation_Date" content="07/11/2018" />
    <meta name="expires" content="07/11/2031" />
    <meta name="revisit-after" content="1 days" />
    <meta name="doc-rights" content="Copywritten work" />
    <meta name="doc-class" content="Completed" />
    <meta name="robots" content="index, nofollow" />


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="Fitness Trainers Network : Find a Fitness Trainer" />
    <meta property="og:image" content="images/logo.png" />
    <meta property="og:url" content="http://www.fitnesstrainersnetwork.com/" />
    <meta property="og:site_name" content="fitnesstrainersnetwork" />
    <meta property="og:description" content="Fitness Trainers network is a network of professional and certified fitness trainers all around North America and ready to get you back in shape. If you are suffering from obesity, injuries, dietary issues, and any other ailments, our trainers are here to help. We are focused on your well being and our goals is to focus on making you healthy. You can hire any of our trainers located close to your zip code and schedule an assessment to determine the best course of action for your fitness routine. The first step always starts with you, so get it done."
    />
    <meta name="twitter:title" content="Fitness Trainers Network : Find a Fitness Trainer" />
    <meta name="twitter:image" content="images/logo.png" />
    <meta name="twitter:url" content="http://www.fitnesstrainersnetwork.com/" />
    <meta name="twitter:card" content="fitnesstrainersnetwork" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="images/logo.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900" rel="stylesheet" type="text/css">

    <!-- Animate.css -->
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <!-- Superfish -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/superfish.css') }}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-material-datetimepicker.css') }}">


    <!-- Modernizr JS -->
    <script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>
    <div id="fh5co-wrapper">
        <div id="fh5co-page">
            <div id="fh5co-header">
                <header id="fh5co-header-section">
                    <div class="container">
                        <div class="nav-header">
                            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                            <h1 id="fh5co-logo">
                                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Fitness Trainers Network" height="170px" width="170px"></a>
                            </h1>
                            <!-- START #fh5co-menu-wrap -->
                            <nav id="fh5co-menu-wrap" role="navigation">
                                <ul class="sf-menu" id="fh5co-primary-menu">
                                    <li>
                                        <a href="{{ url_for('index') }}">Home</a>
                                    </li>
                                    <li><a href="{{ url_for('programs') }}">Programs</a></li>
                                    <!-- <li><a href="trainer.html">Find A Trainer</a></li>
                                        <li><a href="join.html">Become A Trainer</a></li> -->
                                    <li><a href="{{ url_for('allServices') }}">All Services</a></li>
                                    <li class="active"><a href="{{ url_for('about') }}">About FTN</a></li>
                                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                                    <li><a class="btn btn-success mr-auto">Join with Us</a>
                                        <ul class="fh5co-sub-menu">
                                            <li><a href="{{ url_for('trainers') }}">Find A Trainer</a></li>
                                            <li><a href="{{ url_for('joinTrainer') }}">Become A Trainer</a></li>
                                        </ul>
                                    </li>
                                </ul>

                            </nav>
                        </div>
                    </div>
                </header>
            </div>
            <!-- end:fh5co-header -->
            <div class="fh5co-parallax" style="background-image: url(images/trainer3.jpeg);" data-stellar-background-ratio="0.5">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                            <div class="fh5co-intro fh5co-table-cell animate-box">
                                <h1 class="text-center">Join us today! It is free!</h1>
                                <p>You work on your own terms and decide your own rates. We just bring the clients to you!</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="fh5co-contact">
                <div class="container">
                    <div class="">
                        <div class="row row-content">
                            <div class="col-12 text-center">
                                <h2><b>Register</b></h2>
                            </div>

                            <div class="col-12 col-md-12">
                                <form action="/addTrainer" method="POST" id="regForm">
                                    <div class="tab1">
                                        <div class="col-12">
                                            <u><p>Personal Information</p></u>
                                        </div>
                                        <div class="form-group row">
                                            <label for="firstname" class="col-md-2 col-form-label">Name</label>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" required>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" required>
                                            </div>
                                            <span id="namsg"></span>

                                        </div>
                                        <div class="form-group row">
                                            <label for="telnum" class="col-12 col-md-2 col-form-label">Contact Tel.</label>
                                            <div class="col-5 col-md-3">
                                                <input type="tel" class="form-control" id="areacode" name="areacode" placeholder="Area code" required>
                                            </div>
                                            <div class="col-7 col-md-7">
                                                <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Tel. number" minlength="10" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="telnum" class="col-12 col-md-2 col-form-label">Emergency Contact Tel.</label>
                                            <div class="col-5 col-md-3">
                                                <input type="tel" class="form-control" id="areacode" name="EmergencyAreaCode" placeholder="Area code" required>
                                            </div>
                                            <div class="col-7 col-md-7">
                                                <input type="tel" class="form-control" id="telnum" name="EmergencyTelnum" placeholder="Tel. number" minlength="10" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="address" class="col-md-2 col-form-label">Address</label>
                                            <div class="col-md-10">
                                                <textarea class="form-control" id="address" name="address" rows="2" style="resize: vertical; overflow: auto; margin-top: 0px; margin-bottom: 0px;"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="local" class="col-12 col-sm-2 col-form-label">State</label>
                                            <div class="col-12 col-sm-10">
                                                <select class="form-control" required>
                                                                <option>California</option>
                                                                <option>Nevada</option>
                                                                <option>OregonWashington</option>
                                                                <option>Arizona</option>
                                                                <option> Wyoming</option>
                                                                <option>Colorado</option>
                                                                <option>New Mexico</option>
                                                                <option>Texas</option>
                                                                <option>Kansas</option>
                                                                <option>Nebraska</option>
                                                                <option>Minnesota</option>
                                                                <option>Wisconsin</option>
                                                                <option>Illinois</option>
                                                                <option>Michigan</option>
                                                                <option>Ohio</option>
                                                                <option>Pennsylvania</option>
                                                                <option>Virginia</option>
                                                                <option>Washington DC</option>
                                                                <option>Maryland</option>
                                                                <option>Vermont</option>
                                                                <option>New Hampshire</option>
                                                                <option>Maine</option>
                                                                <option>Rhode Island</option>
                                                                <option>Connecticut</option>
                                                              </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-12 col-md-6">
                                                <label for="gender" class="col-12 col-md-4 col-form-label">Gender</label>
                                                <div class="col-md-5">
                                                    <select class="form-control" required>
                                                                     <option>Male</option>
                                                                     <option>Female</option>
                                                                 </select>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <label for="pic" class="col-12 col-md-5 col-form-label">Profile Picture</label>
                                                <div class="col-12 col-md-7">
                                                    <input name="pic" class="file" type="file" class="form-control" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="dob" class="col-12 col-md-2 col-form-label">Date of Birth</label>
                                            <div class="col-5 col-md-3">
                                                <input type="date" class="form-control" id="dob" name="dob" placeholder="Date of Birth" required>
                                            </div>
                                        
                                        </div>
                                        <div class="form-group row">
                                            <label for="drname" class="col-md-2 col-form-label"> Doctor's Info</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" id="drname" name="drname" placeholder="Doctor's Name" required>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" id="drphone" name="drphone" placeholder="Doctor's Phone No." required>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" id="drfax" name="drfax" placeholder="Doctor's Fax" >
                                            </div>
                                            <span id="namsg"></span>

                                        </div>
                                    </div>
                                    <div class="tab1">
                                        <div class="col-12">
                                            <u><p>Login Information</p></u>
                                        </div>
                                        <div class="form-group row">
                                            <label for="emailid" class="col-md-2 col-form-label">Email</label>
                                            <div class="col-md-10">
                                                <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="password" class="col-md-2 col-form-label">Password</label>
                                            <div class="col-md-10">
                                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" minlength="7" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="cpassword" class="col-md-2 col-form-label">Confirm Password</label>
                                            <div class="col-md-10">
                                                <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Confirm Password" minlength="7" required>
                                                <span id="message"></span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="tab1">
                                        <div class="col-12">
                                            <u><p>Occupation and Lifestyle</p></u>
                                        </div>
                                        <div class="form-group row">
                                            <label for="occ" class="col-md-3 col-form-label">What is your current occupation?</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="occ" name="occ" placeholder="Current Occupation" required>
                                            </div>
                                            

                                        </div>
                                        <div class="form-group row">
                                            
                                            <div class="col-md-10">
                                                <div class="form-check" id="prog">
                                                    <p class="col-12 "><input name="extendedperiod" type="checkbox" class="form-check-input padding-sm" value="sitting"><label class="padding-sm">Does your occupation require extended periods of sitting?</label></p>
                                                    <p class="col-12 "><input name="repetmove" type="checkbox" class="form-check-input padding-sm" value="sitting"><label class="padding-sm">Does your occupation require repetitive movements?</label></p>
                                                    <p class="col-12 "><input name="wearshoe" type="checkbox" class="form-check-input padding-sm" value="sitting"><label class="padding-sm">Does your occupationg  require you to wear shoes with a heel(dress shoes)?</label></p>
                                                     
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-12">
                                            <u><p>Physical Activity Readiness Questionnaire</p></u>
                                            <div class="form-check" id="ready"></div>
                                            <p class="col-12 "><input name="hearttrouble" type="checkbox" class="form-check-input padding-sm" value="sitting"><label class="padding-sm">Has a doctor ever said you have heart trouble of a heart condition?</label></p>
                                            <p class="col-12 "><input name="diabetic" type="checkbox" class="form-check-input padding-sm" value="sitting"><label class="padding-sm">Has a doctor ever told you that you are diabetic?</label></p>
                                            <p class="col-12 "><input name="asthma" type="checkbox" class="form-check-input padding-sm" value="sitting"><label class="padding-sm">Do you frequently have pains in your heart and chest or suffer from asthma?</label></p>
                                            <p class="col-12 "><input name="dizziness" type="checkbox" class="form-check-input padding-sm" value="sitting"><label class="padding-sm">Do you often feel faint or have spells of severe dizziness</label></p>
                                            <p class="col-12 "><input name="bloodpressure" type="checkbox" class="form-check-input padding-sm" value="sitting"><label class="padding-sm">Has a doctor ever said your blood pressure was too high?</label></p>
                                            <p class="col-12 "><input name="joint" type="checkbox" class="form-check-input padding-sm" value="sitting"><label class="padding-sm">Has your doctor ever told you that you have a bone or joint problem(s)?</label></p>
                                            <p class="col-12 "><input name="activityprog" type="checkbox" class="form-check-input padding-sm" value="sitting"><label class="padding-sm">Is there a medical reason why you should not follow an activity program?</label></p>
                                            <p class="col-12 "><input name="over60" type="checkbox" class="form-check-input padding-sm" value="sitting"><label class="padding-sm">Are you over age 60 AND not accustomed to vigorous exercise?</label></p>
                                            <p class="col-12 "><input name="neckback" type="checkbox" class="form-check-input padding-sm" value="sitting"><label class="padding-sm">Do you suffer from any problems of the neck, back or knees,i.e. chronic pain, injury or numbness?</label></p>
                                            
                                            <p class="col-12 "><input name="medications" type="checkbox" class="form-check-input padding-sm" value="sitting"><label class="padding-sm">Are you currently taking ny medications?</label></p>
                                            <p class="col-12 "><input name="surgeries" type="checkbox" class="form-check-input padding-sm" value="sitting"><label class="padding-sm">Do you have previous surgeries or injuries</label></p>
                                        
                                        </div>
                                        </div>
                                        <div class="t1">
                                            <div class="col-12">
                                                <u><p>Fitness Profile</p></u>
                                                <p>The 5 Components of Fitness is a formula designed to alter body composition. It is based on the laws of human
                                                    physiology. Following a personalized program will allow you to achieve your goals safely and effectively. We'll cover the 5 Components in details,
                                                    and then I will make some recommendations on what you need to do to maximize your results.
                                                </p> 
                                                <div class="form-group row">
                                                    <label for="inspire" class="col-md-* col-form-label"> 1. What inspired you to get involved in a fitness program?</label>
                                                    <div class="col-md-*">
                                                        <textarea class="form-control" id="inspire" name="inspire" rows="3" style="resize: vertical; overflow: auto; margin-top: 0px; margin-bottom: 0px;"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="workoutprog" class="col-md-* col-form-label"> 2. If currently involved in a workout program, tell me about your schedule</label>
                                                    <div class="col-md-*">
                                                        <textarea class="form-control" id="workoutprog" name="workoutprog" rows="3" style="resize: vertical; overflow: auto; margin-top: 0px; margin-bottom: 0px;"></textarea>
                                                    </div>
                                                </div>
                                                </div>
                                                <p class="col-12 "><input name="positivechange" type="checkbox" class="form-check-input padding-sm" value="sitting"><label class="padding-sm">Are you experiencing positive changes in your body every 3-4 weeks?</label></p>
                                       
                                        <div class="form-group row">
                                            <div class="col-md"><label>3. Rate yourself on a scale of 1-5 (1 needs work, 5 excellent)</label>
                                        </div></div>
                                        
                                            <div class="form-group row">
                                                <label for="bodycomp" class="col-md-2 col-form-label">Current body composition</label>
                                                <div class="col-md-1">
                                                    <input type="text" class="form-control" id="bodycomp" name="bodycomp" width="10" required>
                                                </div>
                                                <label for="presenteat" class="col-md-2 col-form-label">Present nutrition/eating habits</label>
                                                <div class="col-md-1">
                                                    <input type="text" class="form-control" id="presenteat" name="presenteat" width="10" required>
                                                </div>
                                                <label for="presentability" class="col-md-2 col-form-label">Present athletic ability</label>
                                                <div class="col-md-1">
                                                    <input type="text" class="form-control" id="presentability" name="presentability" width="10" required>
                                                </div>
                                            </div>
                                            
                                                <div class="form-group row">
                                                    <label for="presentcardio" class="col-md-2 col-form-label">Present cardiovascular capacity</label>
                                                    <div class="col-md-1">
                                                        <input type="text" class="form-control" id="presentcardio" name="presentcardio" width="10" required>
                                                    </div>
                                                    <label for="presentflex" class="col-md-2 col-form-label">Present flexibility capacity</label>
                                                    <div class="col-md-1">
                                                        <input type="text" class="form-control" id="presentflex" name="presentflex" width="10" required>
                                                    </div>
                                                    <label for="presentqual" class="col-md-2 col-form-label">Present quality of your sleep habits</label>
                                                    <div class="col-md-1">
                                                        <input type="text" class="form-control" id="presentqual" name="presentqual" width="10" required>
                                                    </div>
                                                </div>
                                            
                                                            
                                                                <div class="form-group row">
                                                                    <label for="timedev" class="col-md-* col-form-label"> 4. How much time are you able to devote to your health and fitness goals?</label></div>
                                                                <div class="form-group row">
                                                                    <div class="col-md-4">
                                                                        <input type="text" class="form-control" id="minpday" name="minpday" placeholder="min/day." required></div>
                                                                    <div class="col-md-4"> <input type="text" class="form-control" id="daypweek" name="daypweek" placeholder="days/week." required>
                                                                    </div></div>
                                                                    <div class="form-group row">
                                                                    <label for="besttime" class="col-md-* col-form-label"> 5. When is the best time of day for your workouts</label></div>
                                                                <div class="form-group row">
                                                                    <div class="col-md-4">
                                                                        <input type="text" class="form-control" id="am" name="am" placeholder="am." required></div>
                                                                    <div class="col-md-4"> <input type="text" class="form-control" id="midday" name="midday" placeholder="mid day." required>
                                                                    </div>
                                                                    <div class="col-md-4"> <input type="text" class="form-control" id="pm" name="pm" placeholder="pm" required></div>
                                                                
                                    </div>
                                    <div class="form-group row">
                                        <label>
                                        6. Check all types of execises/programs that interest you?</label></div>
                                        <div class="form-check form-group row " id="ready">
                                        <div class="col-md-2"><input name="strength" type="checkbox" class="form-check-input padding-sm " value="strength"><label class="padding-sm"> Strength Training</label>
                                        </div>
                                        <div class="col-md-2"><input name="core" type="checkbox" class="form-check-input padding-sm " value="sitting"><label class="padding-sm"> Core Training</label>
                                        </div>
                                        <div class="col-md-2"><input name="flexib" type="checkbox" class="form-check-input padding-sm " value="sitting"><label class="padding-sm"> Flexibility</label>
                                        </div>
                                        <div class="col-md-2"><input name="cardio" type="checkbox" class="form-check-input padding-sm " value="sitting"><label class="padding-sm"> Cardio</label>
                                        </div>
                                        <div class="col-md-2"><input name="quickfit" type="checkbox" class="form-check-input padding-sm " value="sitting"><label class="padding-sm"> Quick Fit(30min)</label>
                                        </div>
                                        <div class="col-md-2"><input name="bootcamp" type="checkbox" class="form-check-input padding-sm " value="sitting"><label class="padding-sm"> Bootcamps/Groups</label>
                                        </div>
                                    </div>
                                    <div class="form-check form-group row " id="ready">
                                        <div class="col-md-2"><input name="yoga" type="checkbox" class="form-check-input padding-sm " value="sitting"><label class="padding-sm"> Yoga/Pilates</label>
                                        </div>
                                        <div class="col-md-2"><input name="stationary" type="checkbox" class="form-check-input padding-sm " value="sitting"><label class="padding-sm"> Stationary Bike</label>
                                        </div>
                                        <div class="col-md-2"><input name="jogging" type="checkbox" class="form-check-input padding-sm " value="sitting"><label class="padding-sm"> Jogging</label>
                                        </div>
                                        <div class="col-md-2"><input name="sportspecific" type="checkbox" class="form-check-input padding-sm " value="sitting"><label class="padding-sm"> Sport Specific</label>
                                        </div>
                                        <div class="col-md-4"><input name="otherfave" type="text" placeholder="Other favourites, please specify"></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12"><label>7. How many times per day do you eat(including snacks)?</label></div>
                                            <div class="col-12"> <textarea class="form-control" id="timeseat" name="timeseat" rows="2" style="resize: vertical; overflow: auto; margin-top: 0px; margin-bottom: 0px;"></textarea> </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12"><label>8. Are you currently taking multivitamins or other supplements</label> <input name="multivitamins" type="checkbox" class="form-check-input padding-sm " value="sitting"></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6"><label>9. How much water do you drink daily?</label> </div><div class="col-md-6"><input class="form-control"  name="water" type="text"></div></div>
                                        
                                        <div class="form-group row">
                                        
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="drink" name="drink" placeholder="If you drink, how much?" >
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" id="smoke" name="smoke" placeholder="If you smoke, how much?" >
                                            </div>
                                           

                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12"><label>10. Do you have a workout partner or support systems inside/outside of the gym?</label> <input name="activity" type="checkbox" class="form-check-input padding-sm " value="sitting"></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6"><input name="partner"class="form-control" type="text" placeholder="If yes, then who?"></div>
                                            <div class="col-md-6"><input name="currentmem" class="form-control" type="text" placeholder="Are they currently a member"></div>
                                        
                                        </div>
                                        <div class="form-group-row">
                                        <label> 11. Use the following scale to rate each goal separately: 1 (Not at all important) to 5 (Very important)</label>
                                        </div>
                                        <div class="form-group row">
                                            <label for="improveheart class="col-md-2 col-form-label">Improve heart health</label>
                                            <div class="col-md-1">
                                                <input type="text" class="form-control" id="improveheart" name="improveheart" width="10" required>
                                            </div>
                                            <label for="bodyfatred" class="col-md-2 col-form-label">Body-fat reduction</label>
                                            <div class="col-md-1">
                                                <input type="text" class="form-control" id="bodyfatred" name="bodyfatred" width="10" required>
                                            </div>
                                            <label for="reshape" class="col-md-2 col-form-label">Reshape or tone my body</label>
                                            <div class="col-md-1">
                                                <input type="text" class="form-control" id="reshape" name="reshape" width="10" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="improveperf" class="col-md-2 col-form-label">Improve performance for a sport</label>
                                            <div class="col-md-1">
                                                <input type="text" class="form-control" id="improveperf" name="improveperf" width="10" required>
                                            </div>
                                            <label for="improvemood" class="col-md-2 col-form-label">Improve mood and ability to cope with stress</label>
                                            <div class="col-md-1">
                                                <input type="text" class="form-control" id="improvemood" name="improvemood" width="10" required>
                                            </div>
                                            <label for="improveflex" class="col-md-2 col-form-label">Improve flexibility posture</label>
                                            <div class="col-md-1">
                                                <input type="text" class="form-control" id="improveflex" name="improveflex" width="10" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="increasestr" class="col-md-2 col-form-label">Increase Strength</label>
                                            <div class="col-md-1">
                                                <input type="text" class="form-control" id="increasestr" name="increasestr" width="10" required>
                                            </div>
                                            <label for="increaseenerg" class="col-md-2 col-form-label">Increase energy level</label>
                                            <div class="col-md-1">
                                                <input type="text" class="form-control" id="increaseenerg" name="increaseenerg" width="10" required>
                                            </div>
                                            <label for="decstress" class="col-md-2 col-form-label">Decrease Stress</label>
                                            <div class="col-md-1">
                                                <input type="text" class="form-control" id="decstress" name="decstress" width="10" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="incmetab" class="col-md-2 col-form-label">Increase metabolism</label>
                                            <div class="col-md-1">
                                                <input type="text" class="form-control" id="incmetab" name="incmetab" width="10" required>
                                            </div>
                                            <label for="feelbetter" class="col-md-2 col-form-label">Feel better</label>
                                            <div class="col-md-1">
                                                <input type="text" class="form-control" id="feelbetter" name="feelbetter" width="10" required>
                                            </div>
                                            <label for="otherspec" class="col-md-2 col-form-label">Other, specify</label>
                                            <div class="col-md-1">
                                                <input type="text" class="form-control" id="otherspec" name="otherspec" width="20" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                        <label> 12. What is your #1 goal?</label>
                                        <textarea class="form-control" id="maingoal" name="maingoal" rows="2" style="resize: vertical; overflow: auto; margin-top: 0px; margin-bottom: 0px;"></textarea> 
                                        
                                        </div>
                                        <div class="form-group row">
                                            <label> 13. By when do you want to accomplish your goal? </label>
                                            <textarea class="form-control" id="goaldeadline" name="goaldeadline rows="2" style="resize: vertical; overflow: auto; margin-top: 0px; margin-bottom: 0px;"></textarea>
                                        </div>
                                        <div class="form-group row">
                                            <label for="currwt" class="col-md-2 "> 14. Current weight</label>
                                            <div class="col-md-2">
                                                <input type="text" class="form-control" id="currwt" name="currwt" placeholder="lbs" required>
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" class="form-control" id="approx" name="approx" placeholder="= (+) or (-)" required>
                                            </div>
                                            <label for="goalwt" class="col-md-2 ">Goal weight</label>
                                            <div class="col-md-2">
                                                <input type="text" class="form-control" id="goalwt" name="goalwt" placeholder="lbs" >
                                            </div>
                                            <div class="form-group row">
                                                <label> 15. What other specific areas would you like to focus on?</label>
                                                <textarea class="form-control" id="specareas" name="specareas" rows="2" style="resize: vertical; overflow: auto; margin-top: 0px; margin-bottom: 0px;"></textarea> 
                                                
                                                </div>
                                                <div class="form-group row">
                                                    <label> 16. Do you have an exact plan for achieving these goals? If so, please explain.</label>
                                                    <textarea class="form-control" id="achieveplan" name="achieveplan" rows="2" style="resize: vertical; overflow: auto; margin-top: 0px; margin-bottom: 0px;"></textarea> 
                                                    
                                                    </div>   

                                        </div>
                                        
                                        
                                    </div>
                                    
                                    
                                    
  
                                </form>
                                </div>
                                <div class="col-12 col-md">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
                <footer>
                    <div id="footer">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 animate-box">
                                    <h3 class="section-title">About Us</h3>
                                    <p>Fitness Trainers network is a network of professional and certified fitness trainers all around North America and ready to get you back in shape. If you are suffering from obesity, injuries, dietary issues, and any
                                        other ailments, our trainers are here to help. We are focused on your well being and our goals is to focus on making you healthy. You can hire any of our trainers located close to your zip code and schedule an assessment
                                        to determine the best course of action for your fitness routine. The first step always starts with you, so get it done.</p>
                                </div>

                                <div class="col-md-4 animate-box">
                                    <h3 class="section-title">Our Address</h3>
                                    <ul class="contact-info">

                                        <li><i class="icon-phone"></i><a href="tel:+1-877-963-7283">+1-877-963-7283</a></li>
                                        <li><i class="icon-envelope"></i><a href="mailto:info@fitnesstrainersnetwork.com">info@fitnesstrainersnetwork.com</a></li>
                                        <li><i class="icon-globe2"></i><a href="http://www.fitnesstrainersnetwork.com/">www.fitnesstrainersnetwork.com</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4 animate-box">
                                    <h3 class="section-title">Drop us a line</h3>
                                    <form class="contact-form">
                                        <div class="form-group">
                                            <label for="name" class="sr-only">Name</label>
                                            <input type="name" class="form-control" id="name" placeholder="Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="sr-only">Email</label>
                                            <input type="email" class="form-control" id="email" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <label for="message" class="sr-only">Message</label>
                                            <textarea class="form-control" id="message" rows="8" placeholder="Message"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Send Message">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="row copy-right">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <p class="fh5co-social-icons">
                                        <a href="https://www.facebook.com/fitnesstrainers/"><i class="icon-facebook2"></i></a>
                                        <a href=""><i class="icon-youtube"></i></a>
                                    </p>
                                    <p>Copyright 2018 <a href="http://www.fitnesstrainersnetwork.com/">fitnesstrainersnetwork</a>. All Rights Reserved. <br>Made with <i class="icon-heart3"></i> by <a href="http://arijitdhar.com/" target="_blank">Arijit Dhar</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>

        <!-- jQuery -->
            

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <!-- jQuery Easing -->
        <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
        <!-- Bootstrap -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <!-- Waypoints -->
        <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
        <!-- Stellar -->
        <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
        <!-- Superfish -->
        <script src="{{ url_for('static', filename='js/hoverIntent.js') }}"></script>
        <script src="{{ url_for('static', filename='js/superfish.js') }}"></script>

        
        <script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>

        <!-- Main JS (Do not remove) -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-checkbox.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-material-datetimepicker.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/ripples.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.10/js/material.min.js"></script>

<script>
            $(document).ready(function() {
                $('#sf').bootstrapMaterialDatePicker({
                    date: false,
                    'cancelText': 'Cancel',
                    lang: 'en',
                    clearButton: true,
                    shortTime: true,
                    format: 'HH:mm',
                    'okText': 'OK',

                });

                $('#st').bootstrapMaterialDatePicker({
                    date: false,
                    'cancelText': 'Cancel',
                    lang: 'en',
                    clearButton: true,
                    shortTime: true,
                    format: 'HH:mm',
                    'okText': 'OK',

                });

                $('#mf').bootstrapMaterialDatePicker({
                    date: false,
                    'cancelText': 'Cancel',
                    lang: 'en',
                    clearButton: true,
                    shortTime: true,
                    format: 'HH:mm',
                    'okText': 'OK',

                });

                $('#mt').bootstrapMaterialDatePicker({
                    date: false,
                    'cancelText': 'Cancel',
                    lang: 'en',
                    clearButton: true,
                    shortTime: true,
                    format: 'HH:mm',
                    'okText': 'OK',

                });

                $('#tf').bootstrapMaterialDatePicker({
                    date: false,
                    'cancelText': 'Cancel',
                    lang: 'en',
                    clearButton: true,
                    shortTime: true,
                    format: 'HH:mm',
                    'okText': 'OK',

                });

                $('#tt').bootstrapMaterialDatePicker({
                    date: false,
                    'cancelText': 'Cancel',
                    lang: 'en',
                    clearButton: true,
                    shortTime: true,
                    format: 'HH:mm',
                    'okText': 'OK',

                });

                $('#wf').bootstrapMaterialDatePicker({
                    date: false,
                    'cancelText': 'Cancel',
                    lang: 'en',
                    clearButton: true,
                    shortTime: true,
                    format: 'HH:mm',
                    'okText': 'OK',

                });

                $('#wt').bootstrapMaterialDatePicker({
                    date: false,
                    'cancelText': 'Cancel',
                    lang: 'en',
                    clearButton: true,
                    shortTime: true,
                    format: 'HH:mm',
                    'okText': 'OK',

                });

                $('#thf').bootstrapMaterialDatePicker({
                    date: false,
                    'cancelText': 'Cancel',
                    lang: 'en',
                    clearButton: true,
                    shortTime: true,
                    format: 'HH:mm',
                    'okText': 'OK',

                });

                $('#tht').bootstrapMaterialDatePicker({
                    date: false,
                    'cancelText': 'Cancel',
                    lang: 'en',
                    clearButton: true,
                    shortTime: true,
                    format: 'HH:mm',
                    'okText': 'OK',

                });

                $('#ff').bootstrapMaterialDatePicker({
                    date: false,
                    'cancelText': 'Cancel',
                    lang: 'en',
                    clearButton: true,
                    shortTime: true,
                    format: 'HH:mm',
                    'okText': 'OK',

                });

                $('#ft').bootstrapMaterialDatePicker({
                    date: false,
                    'cancelText': 'Cancel',
                    lang: 'en',
                    clearButton: true,
                    shortTime: true,
                    format: 'HH:mm',
                    'okText': 'OK',

                });

                $('#saf').bootstrapMaterialDatePicker({
                    date: false,
                    'cancelText': 'Cancel',
                    lang: 'en',
                    clearButton: true,
                    shortTime: true,
                    format: 'HH:mm',
                    'okText': 'OK',

                });

                $('#sat').bootstrapMaterialDatePicker({
                    date: false,
                    'cancelText': 'Cancel',
                    lang: 'en',
                    clearButton: true,
                    shortTime: true,
                    format: 'HH:mm',
                    'okText': 'OK',

                });

            });
        </script>

</body>

</html>